.ctm-table{
    width:  100%;
    position: relative;
}

.ctm-grid-wrapper-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ctm-grid-wrapper{
    width: 90%;
    height: 100%;
    left: 10%;
    top: 0;
    position: relative;
}

.ctm-grid{
    position: absolute;
    width: 100%;
    height: 100%;
}

.ctm-day:nth-child(odd) {
    background-color: #bababa;
}

/* Color for even rows */
.ctm-day:nth-child(even) {
    background-color: #ffffff;
}

.ctm-day{
    height: fit-content;
    margin: 0.1rem;
}

.ctm-day-label{
    float:left;
    width: 10%;
}

.ctm-day-rows{
    width: 90%;
    float:left;
    font-size: 0.6rem;
}

.ctm-row{
    min-height: 4rem;
    position: relative;
    margin: 0.1rem;
    display: flex;
}

.ctm-event {
    /* height: inherit; */
    position: absolute;
    border-color: black;
    border-width: 0;
    border-left-width: 0.3rem;
    border-radius: 0.2rem;
    border-style: solid;
    padding: 0.2rem;
    min-height: 2rem;
}

.ctm-event-lecture {
    border-color: #9988FF;
}
.ctm-event-seminar {
    border-color: #88FF99;
}
.ctm-event-lab {
    border-color: #FF9988;
}

/*Added*/
.clearfix {
  clear: both;
}
.clearfix:after {
  clear: both; 
  content: "";
  display: table; 
}
