{% extends "layout.html" %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/tom-select/2.0.1/css/tom-select.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Main Container -->
    <div class="container">
        <!-- Header Section -->
        <div class="text-center mb-4">
            <h1 class="display-4">Your Timetable</h1>
            <p class="lead">Manage your courses below</p>
        </div>

        <!-- Remove Courses Section -->
        <div class="mb-4">
            <h3>Remove a Course</h3>
            <div class="d-flex flex-wrap gap-2">
                {% for course in courses %}
                <a href="/timetable?courses={{ courses | reject('eq', course) | join(',') }}&semester={{ semester }}" class="btn btn-outline-danger btn-sm">
                    {{ course }}
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Add Courses Section -->
        <div class="mb-4">
            <h3>Add Courses</h3>
            <p>Add courses, separated by commas:</p>
            <div class="input-group">
                <label for="add_courses" class="form-label">Add courses</label>
                <!-- <input type="text" id="add_courses" class="form-control" data-role="tagsinput" placeholder="Start typing..." /> -->
                <select id="add_courses" name="courses[]" class="form-select" multiple placeholder="Select a state..." autocomplete="on">
                {% for course in user_data.get_available_courses(semester) %}
                <option value="{{ course['code'] }}">{{ course["code"] }} - {{ course["nameCs"] }}</option>
                {% endfor %}
                </select>
                <button class="btn btn-primary" onclick="location.href = '/timetable?semester={{ semester }}&courses={{ courses | join(',') }},'  + course_selector.getValue().join(',');">
                    Load
                </button>
            </div>
        </div>

        <!-- Timetable -->
        <div class="timetable">
            {{ timetable | safe }}
        </div>
    </div>
{% endblock %}
{% block foot %}
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.1/dist/js/tom-select.complete.min.js"></script>
    <script>
let course_selector = new TomSelect("#add_courses", {plugins: ['remove_button']})
    </script>
{% endblock %}

